<li class="category-item" href="{{ item.url | relative_url }}">
  <a href="{{ item.url | relative_url }}" class = "flex-card">
      <div>
    {% if item.icon %}
      <img src="{{ item.icon | relative_url }}" alt="{{ item.title }} icon" class="thumb">
    {% else %}
      <img src="/img/default.png">
    {% endif %}
    </div>
    <div>
      <p class="center-with-lines"><span>{{item.type}}</span></p>
    </div>
    <div>{{ item.title }}</div>

    
  </a>
  <div class = "muted">{{ item.date | date: "%b, %Y" }}</div>
</li>
